.footerContainer{
    margin: 20px 0;
  
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.footerMain{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 70%;
}


 .dscIcon{
    width: 200px;
    margin-right: 10%;
    align-self: center;
}

.links{
    padding: 1em;
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    justify-content: flex-start;
}

.features{
    display:flex;
    padding: 1em;
    margin-right: 10%;
    flex-direction: column;
    justify-content: flex-start;
}


.socialHandles{
    border-left: 1px solid rgba(0,0,0,0.4);
    height: 100%;
    width: 20%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    justify-items: flex-start;
}

.eventsAndUs{
    display:flex;
    padding: 1em;
    flex-direction: column;
    justify-content: flex-start;
}

.footerContainer a{
    margin: 5px 0px;
}

.link{
    text-decoration: none;
    color: var(--primary-font-color);
}

.link:hover{
    transform: scale(1.5);
}