.headerContainer{
    position: fixed;
    top: 2em;
    left: 2em;
    right: 2em;
    /* padding: 1em; */
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.dscLogo{
    height: auto;
    width: 10vw;
    min-width: 100px;
    margin-bottom: 1em;
}
